<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>NSLocationWhenInUseUsageDescription</key>
<string>Приложение использует ваше местоположение для отображения ближайших мероприятий.</string>
<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
<string>Приложение использует ваше местоположение в фоновом режиме для обновления данных о вашем окружении.</string>
<key>NSLocationAlwaysUsageDescription</key>
<string>Постоянный доступ к местоположению позволяет приложению предоставлять наиболее актуальную информацию.</string>
<key>UIBackgroundModes</key>
<array>
    <string>location</string>
</array>
</dict>
</plist>
